.cart{
    border:2px solid black;
    border-radius:5px;
    width:fit-content;
    background-color: #f7f1e3;
    color: rgb(41, 40, 40);

}
.x1{
    background-color:red;
}
.x2{
    background-color: pink;
}
.addSub{
    padding:4px 10px;
    border:none;
    border-radius: 25px;
    background-color: #ffb142;
    color:black;
    margin:0px 5px;
    
}

.btn{
    color:white;
}
